@import './nprogress';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

section.app {
  height: 100%;
}

section.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  main {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
}
