@import '../../mixins/link';

section.header {
  $height: 40px;

  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  box-shadow: 0 0 5px rgba(0, 0, 0, .05);
  height: $height;

  h1 {
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    font-size: 0.75em;
    padding: 0 10px 0 38px;
    text-transform: uppercase;
    background: transparent url('/images/media/icon.png') no-repeat 10px center;
    background-size: $height / 2;
    display: flex;
    align-items: center;
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, .05);
    padding-left: 10px;

    li {
      display: flex;
      align-items: center;
      font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
      font-size: 12px;
      color: rgba(0, 0, 0, .5);

      a {
        @include link;
        padding-left: 3px;
        max-width: 40vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      img {
        width: $height / 2;
        margin-left: 8px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .05);
        margin-right: 10px;
        border-radius: 50%;
      }
    }
  }
}