@import '../../mixins/button';

section.map {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  label {
    margin: 10px;
    background: url('/images/loading.svg') no-repeat center left;
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    background-size: 15px;
    padding-left: 22px;
    color: rgba(0, 0, 0, .5);
  }

  div.container {
    width: 100%;
    height: 100%;
  }

  div.search {
    $height: 60px;

    height: $height;
    display: flex;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .1);
    position: relative;
    z-index: 101;

    input[type="text"] {
      height: $height;
      background-color: transparent;
      width: 100%;
      padding: 0 20px;
      border: 0;
      outline: none;
      font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
      font-size: 12px;
    }

    button[type="button"] {
      border: 0;
      border-left: 1px solid rgba(0, 0, 0, .05);
      background-color: transparent;
      border-radius: 0;
      user-select: none;
      font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
      outline: none;
      padding: 0 20px;
      font-weight: bold;
      text-transform: uppercase;
      white-space: nowrap;

      &:disabled {
        cursor: not-allowed;
      }

      &:not(:disabled) {
        cursor: pointer;
      }
    }
  }
}
