@import '../../mixins/button';

section.map {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  label {
    margin: 10px;
    background: url('/images/loading.svg') no-repeat center left;
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    background-size: 15px;
    padding-left: 22px;
    color: rgba(0, 0, 0, .5);
  }

  div.search {
    $height: 40px;

    border-bottom: 1px solid rgba(0, 0, 0, .05);
    height: $height;
    display: flex;

    input[type="text"] {
      height: $height;
      background-color: transparent;
      width: 100%;
      padding: 0 15px;
      border: 0;
      outline: none;
    }

    button[type="button"] {
      border: 0;
      border-left: 1px solid rgba(0, 0, 0, .05);
      border-radius: 0;
      background-color: white;
      user-select: none;
      font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
      cursor: pointer;
      outline: none;
      padding: 0 20px;
      font-weight: bold;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
}
