@import '../../mixins/button';

section.map {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  div.container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
  }
}
